:root{
    --navbar-form: #e5e5e5;
    --bell: #ff8f00;


}
/* debug */
.debug nav {
    background-color: aqua;
}
.debug .container-xxl{
    background-color: greenyellow;
}
.debug .container-xxl .sidebar{
    background-color: blue;
}
.debug .container-xxl main{
    background-color: brown;
}


/* Logo navbar */
.navbar-brand .logosm,
.navbar-brand svg{
    height: 52px;
}
.navbar-brand .logosm img{
    height: 100%;
    aspect-ratio: 1/1;
}
/* SEARCHBAR */
.navbar-light .input-group span,
.navbar-light .input-group input{
    background-color: var(--navbar-form);
}
/* dropdown menu */

.dropdown button,.dropdown button:hover{
    color: var(--bell);
}





.navbar-dark{
    width: 50px;
    height: calc(100vh - 50px);
}