:root{
    --navbar-form: #e5e5e5;
    --bell: #ff8f00;
    --sidebarbg: #051e34;
    --menubg: #1b72e8;
    --badge-menu: #165bba;
    --circle: #f26551;
    --badge-done: #198754;
    --badge-process: #ffc107;
    --badge-failed: #dc3545;
}

/* debug */
.debug nav {
    background-color: aqua;
}
.debug .principal{
    background-color: greenyellow;
}
.debug .principal .sidebar{
    background-color: blue;
}
.debug .principal main{
    background-color: brown;
}
/* Logo navbar */
.navbar-brand .logosm,
.navbar-brand svg{
    height: 52px;
}
.navbar-brand .logosm img{
    height: 100%;
    aspect-ratio: 1/1;
}
/* SEARCHBAR */
.navbar-light .input-group span,
.navbar-light .input-group input{
    background-color: var(--navbar-form);
}
/* dropdown menu */

.dropdown button,.dropdown button:hover{
    color: var(--bell);
}
.circle
{
    background-color: var(--circle);
    width: 2rem;
    aspect-ratio: 1/1;
}
.sidebar,.principal main{
    height: calc(100vh - 70px);
}
.sidebar{
    background-color: var(--sidebarbg);
    background-image: url(../img/sidebar-bg.png);    width: 50px;
}
.sidebar .stats:hover,
.sidebar .signal:hover,
.sidebar .admin:hover,
.sidebar .home:hover{
    filter: brightness(1);
    background-color: #596976 ;
}
.principal main{
    width: 100%;
}
.principal main .menu{
    background-color: var(--menubg);
}
.menu .badge{
    background-color: var(--badge-menu);
}








.done
{
    background-color: var(--badge-done);
}

.process{
    background-color: var(--badge-process);
}
.failed{
    background-color: var(--badge-failed);
}
.img img{
    width: 100%;
}

@media screen and (min-width:1200px) {
    .sidebar{
        width: 150px;
    }
    .new_students .offcanvas{
        width: 50vw!important;
    }
    .nome{
        width: 50%;
    }
}